<div id="projects-view">


<section class="header">
  <h1>project list</h1>
</section>


<article class="view container">
  <% @projects.each do |project| %>
    <%= render partial: "projects/list", locals: { project: project } %>
  <% end %>
</article>


<section class="footer">

</section>

<%= render partial: "projects/count_up" %>
</div>
