<div class="row">
  <aside class="col-md-4">
    <section class="project_info">
      <h1> url: <%= @project.url %> </h1>
      <h1> title: <%= @project.title %> </h1>
      <h1> description: <%= @project.description %> </h1>
    </section>
  </aside>
</div>
