/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.project_info {
    border: solid;
    border-width: 1px;
    margin-bottom: 4px;
    padding-top: 10px;

    .thumb img {
        width: 100%;
        height: 100%;
    }

    .text_info {
        h1 {
            font-size: 30px;
        }

        .url {
            float: right;
            margin-top: -15px;
            margin-bottom: 10px;
        }
    }
}

.modify > * {
    float: right;
    margin-left: 5px;
}

.thumb_big {
    border: solid;
    border-width: 1px;
    width: 400px;
    height: 400px;
}
.thumb_small {
    border: solid;
    border-width: 1px;
    width: 200px;
    height: 200px;
}
