/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.project_info {
    border: solid;
    border-width: 1px;
    margin-bottom: 4px;
}
