<footer class="footer">
  <small>
    This site is a challenge for <a href="https://app.code-check.io/">codecheck</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "Repository", "https://github.com/medalhkr/codecheck-1908" %>
      </li>
    </ul>
  </nav>
</footer>
